# Core
python-dotenv==1.0.1
fastapi
uvicorn
websockets
shap

# Analysis (Pre-installed in most environments, but good to have)
pandas
numpy

# Optional: if we want to use a more advanced ADB wrapper later
# pure-python-adb
